{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-12 col-sm-offset-3">
		<h2 style="text-align: center;"><strong>Nuestra historia</strong></h2>
		<p style="text-align: center;">Es una historia muy larga. Tienes tiempo? Te quedas un ratico para que te lo contemos?</p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
		<p style="text-align: center;"> Bla bla bla </p>
	</div>
</div>
{% endblock %}