 {% extends "base.html" %}
 {% load crispy_forms_tags %}
 {% load static %}
 {% block head_tittle %}Bienvenidos | {% endblock %}

 <style>
  {% block style %}
  .jumbotron {
  	background-color: #172548 !important;
  	color: white;
  }
  .fa-5x{
    font-size: 6em !important;
  }
  {% endblock %}
</style>
 
 {% block jumbotron%}

{% if request.user.is_staff %}
<table class="table">
{% for instance in queryset %}
<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.nombre }}</td><td>hace {{ instance.timestamp|timesince }}</td></tr><br>
{% endfor %}
</table>
{% else %}

<div class="jumbotron">
<div class="container">

 <div class='row'>
 	<div class="col-sm-3 pull-right">
         <h1>Probar Django</h1>
        <p class="lead" text-align-center>Un proyecto para principantes bla bla bla matadme ya</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Unete y sufre &raquo;</a>
     </div>
<div class="col-sm-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/YVZHlpCHnzs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
</div>
</div>
<div style="display: flex;">
<div class="col-sm-3">
	<p class="lead" text-align-center>Creado con Django<br><br><span class="fa-stack fa-5x">
   <i class="fa fa-spinner fa-spin fa-stack-2x"></i>
   <i class="fa fa-bullhorn fa-stack-1x"></i></i></p>
</div>
<div class="col-sm-3">
	<p class="lead" text-align-center>Y por obligacion</p><img src="{% static "img/obama.jpg" %}">
</div>
<div class="col-sm-3">
	<p class="lead" text-align-center>Y por la nota<br><br><span class="fa-stack fa-5x">
   <i class="fa fa-spinner fa-spin fa-stack-2x"></i>
   <i class="fa fa-font-awesome fa-stack-1x"></i>
  </span></p>
</div>

<div class="col-sm-3">Subscribirte</p>
</div>
{% endif %}
{% endblock %}

<p class="lead text-align-center"> {{ titulo }}</p>
{{ request.user }}
<hr>
<br>

{% block content %}
{% if not request.user.is_staff %}
{% if not user.is_authenticated %}
<form method="POST" action="">{% csrf_token %}
{{ el_form|crispy }}
<input class="btn btn-primary" type="submit" value="Enviar">
</form>
{% else %}
<p class="lead text-align-center"> {{ titulo }} <br> <br> <br> <i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i></p>
{% endif %}
<hr>
{% endif %}
{% endblock %}
</div>